In [1]:
x = 1
y = 5
sum = x + y
print(sum)

6

In [2]:
#the value of x, i.e. 1, is an integer. Integer are all number values. x itself is a variable. Same goes for 'y' and 'sum'.

In [3]:
x = 1
y = 5.5  #this is not an integer now. 5.5 is a float.
sum = x + y
print(sum)   #so when we print this sum also becomes a float variable.

6.5

In [4]:
country = 'nepal' #string
print(country)

nepal

In [5]:
sum = (1 + 8 + 25 + 22 + 1 + 8 + 25 + 22 + 1 + 8 + 25 + 22 +1 
       + 8 + 25 + 22 + 1 + 8 + 25 + 22 + 1 + 8 + 25 + 22 + 1 +
       8 + 25 + 22 + 1 + 8 + 25 + 22 + 1 + 8 + 25 + 22 + 1 + 8
       + 25 + 22)
print(sum)

560

In [6]:
age = 17
if age < 18:
    print("Unauthorized@") # 4 spaces >> indentation. In other programming languages the indentation is not used, curly bracket is used for the same purposes)

Unauthorized@

In [7]:
country = "Nepal" #string
number = 1 #integer
f_number = 1.5 #float
c_number = 1 + 6j #complex

In [8]:
a = 1
b = 1
c = 1

print(a,b,c)

1 1 1

In [9]:
a = b = c = 1
print(a,b,c)

1 1 1

In [10]:
a = 5 ; b = 8 ; c = 4 
print(a,b,c)

5 8 4

In [11]:
a, b, c = 5, 8, 4
print(a,b,c)

5 8 4

In [12]:
gravity_of_earth= 9.8 #variables should be declarative. for variables we only use small case letters.

# so constants are represented by GRAVITY, upper case letters

GRAVITY_OF_EARTH = 9.8

In [13]:
a = 0b1010 #binary
b = 100 #decimal
c= 0o310 #octal
d = 0x12cd #hexadecimal

print(a,b,c,d)

10 100 200 4813

In [14]:
x = 150.0 
print(x)

150.0

In [15]:
x = 1.5e2
print(x)

150.0

In [16]:
#u can write strings in single quotation, double quotation, 3 single quotation, 3 double quotataions.
name = 'name'
name1 = '''name'''
name2 = "name"
name3 = """name"""

In [17]:
fruit = 'apple'
fruit2 = 'banana'
fruit3 = 'mango'
fruit4 = 'orange'
fruit5 = 'grape'

print(fruit, fruit2, fruit3, fruit4, fruit5)

apple banana mango orange grape

In [18]:
fruits = ['apple', 'banana', 'mango', 'orange', 'grape'] #[] is a list. this is a list of fruit
print(fruits)

['apple', 'banana', 'mango', 'orange', 'grape']

In [19]:
#tuple 
fruits = ('apple', 'banana', 'mango', 'orange', 'grape')

In [20]:
#set
fruits = {'apple', 'banana', 'mango', 'orange', 'grape'}

In [21]:
help(print) #to learn more about the function

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [22]:
print(1,2,3,4,5,6, sep = '*')

1*2*3*4*5*6

In [23]:
print("I am\n from Nepal")

I am
 from Nepal